@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="imghome" src="img/logo-grande.png" />
</div>
<main class="app">
    <article class="item">
        <div class="title">
            <img src="img/produto1.png" class="produto" />
        </div>
    </article>
    <article class="item">
        <div class="title">
            <img src="img/produto2.png" class="produto" />
        </div>
    </article>
    <article class="item">
        <div class="title">
            <img src="img/produto3.png" class="produto" />
        </div>
    </article>
</main>
